<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\App\FrontControllerInterface" type="Training\Test\Controller\App\FrontController"/>
    <!--<type name="Magento\Framework\UrlInterface">-->
        <!--<plugin name="training_test_model_url" type="Training\Test\Plugin\Model\Url" />-->
    <!--</type>-->
    <type name="Magento\Framework\View\Element\Template">
        <plugin name="training_test_block_template" type="Training\Test\Plugin\Block\Template" />
    </type>
    <!--<type name="Magento\Catalog\Controller\Product\View">-->
        <!--<plugin name="training_test_controller_product_view" type="Training\Test\Plugin\Controller\Product\View" />-->
    <!--</type>-->
    <type name="Magento\Framework\App\Router\NoRouteHandlerList">
        <arguments>
            <argument name="handlerClassesList" xsi:type="array">
                <item name="default" xsi:type="array">
                    <item name="class" xsi:type="string">Training\Test\Router\NoRouteHandler</item>
                    <item name="sortOrder" xsi:type="string">100</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Block\Product\View\Description">
        <plugin name="training_test_block_product_view_description"
                type="Training\Test\Plugin\Block\Product\View\Description" sortOrder="10"/>
    </type>
</config>